<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.collect.core.db.querymapper.QuerySysMapper">
	<select id="queryTableMaxId" parameterType="string" resultType="int">
		select
		max(id)
		from ${value}
	</select>
</mapper>